<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords" content="MAGNATE" />
  <meta name="Description" content="MAGNATE" />
  <title>MAGNATE</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link href="public/css/base.css" rel="stylesheet">
  <link href="public/css/main.css" rel="stylesheet">
  <link href="public/css/owl.carousel.css" rel="stylesheet">
  <link href="public/css/owl.theme.css" rel="stylesheet">
  <link href="public/css/flexslider.css" rel="stylesheet">
  <script src="public/js/jquery-1.9.1.min.js"></script>
  <script src="public/js/owl.carousel.js"></script>
  <script type="text/javascript" src="public/js/jquery.SuperSlide.2.1.1.js"></script>
  <script src="public/js/jquery.flexslider-min.js"></script>
  <link href="public/css/main0511.css" rel="stylesheet">
<body>

<div class="menuleft">
  <a href="" class="mllogo">
    <img src="public/images/0511/logo.png" />
  </a>
  <div class="mlmenu">
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon01.png" /><span>电商商城</span><img src="public/images/0511/down.png" />
    </a>
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon02.png" /><span>会员服务</span><img src="public/images/0511/down.png" />
    </a>
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon03.png" /><span>仓储服务</span><img src="public/images/0511/down.png" />
    </a>
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon04.png" /><span>金融产品</span><img src="public/images/0511/down.png" />
    </a>
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon05.png" /><span>资料专区</span><img src="public/images/0511/down.png" />
    </a>
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon06.png" /><span>在线客服</span><img src="public/images/0511/down.png" />
    </a>
    <a href="" class="mlmenua">
      <img src="public/images/0511/lefticon07.png" /><span>账号管理</span><img src="public/images/0511/down.png" />
    </a>
  </div>
</div>
<div class="menuright">
  <div class="mrhead">
    <div class="mrh">
      <div class="mrh01"><img src="public/images/0511/guoqi.jpg" />測試/ SA / MAGHOL | 麥芽酚</div>
      <a href="" class="mrh02"><img src="public/images/0511/remind.png" /></a>
      <a href="" class="mrh03"><img src="public/images/0511/memberportrait.jpg" />Al Raihan</a>
    </div>
  </div>
  <div class="mrbottom">
    <div class="mrbottom01">
      <div class="mrbottom01list">
        <img src="public/images/0511/memberimg01.png" />
        <div class="mrblr">
          <div class="mrblrt">账户余额</div><div class="mrblrb">$1,500,000</div>
        </div>
      </div>
      <div class="mrbottom01list">
        <img src="public/images/0511/memberimg02.png" />
        <div class="mrblr">
          <div class="mrblrt">物流運輸</div><div class="mrblrb">246</div>
        </div>
      </div>
      <div class="mrbottom01list">
        <img src="public/images/0511/memberimg03.png" />
        <div class="mrblr">
          <div class="mrblrt">最近交易</div><div class="mrblrb">689</div>
        </div>
      </div>
      <div class="mrbottom01list">
        <img src="public/images/0511/memberimg04.png" />
        <div class="mrblr">
          <div class="mrblrt">商城积分</div><div class="mrblrb">8888</div>
        </div>
      </div>
      <div class="clearboth"></div>
    </div>
    <div class="mrbottom02">
      <img src="public/images/0511/midbanner.jpg" />
    </div>
    <div class="mrbottom03">
      最近交易记录
      <p>
        <a class="on" href="">物流</a><a href="">自提</a><a href="">仓库</a>
      </p>
    </div>
    <div class="mrbottom04">
      <div class="mrbottom04list mrbottom04listt">
        <div class="mrbl01"></div>
        <div class="mrbl02">日期</div>
        <div class="mrbl03">订单号</div>
        <div class="mrbl04">目的地</div>
        <div class="mrbl05">数量</div>
        <div class="mrbl06">单价</div>
        <div class="mrbl07">量</div>
        <div class="mrbl08">金额</div>
        <div class="mrbl09">物流单号</div>
        <div class="mrbl010">收件人</div>
        <div class="mrbl011">订单状态</div>
      </div>
      <div class="mrbottom04list">
        <div class="mrbl01"><span><img src="public/images/0511/memberproimg.jpg" /><i>1</i></span></div>
        <div class="mrbl02">2020-09-28</div>
        <div class="mrbl03">DJ909090909</div>
        <div class="mrbl04">深圳市坂田区布龙大道119号</div>
        <div class="mrbl05">1</div>
        <div class="mrbl06">10公斤</div>
        <div class="mrbl07">10公斤</div>
        <div class="mrbl08">5899</div>
        <div class="mrbl09">GX00000001</div>
        <div class="mrbl010">张总</div>
        <div class="mrbl011">已入库</div>
      </div>
      <div class="mrbottom04list">
        <div class="mrbl01"><p><img src="public/images/0511/memberproimg.jpg" /></p></div>
        <div class="mrbl02">2020-09-28</div>
        <div class="mrbl03">DJ909090909</div>
        <div class="mrbl04">深圳市坂田区布龙大道119号</div>
        <div class="mrbl05">1</div>
        <div class="mrbl06">10公斤</div>
        <div class="mrbl07">10公斤</div>
        <div class="mrbl08">5899</div>
        <div class="mrbl09">GX00000001</div>
        <div class="mrbl010">张总</div>
        <div class="mrbl011">已入库</div>
      </div>
      <div class="mrbottom04list">
        <div class="mrbl01"><p><img src="public/images/0511/memberproimg.jpg" /></p></div>
        <div class="mrbl02">2020-09-28</div>
        <div class="mrbl03">DJ909090909</div>
        <div class="mrbl04">深圳市坂田区布龙大道119号</div>
        <div class="mrbl05">1</div>
        <div class="mrbl06">10公斤</div>
        <div class="mrbl07">10公斤</div>
        <div class="mrbl08">5899</div>
        <div class="mrbl09">GX00000001</div>
        <div class="mrbl010">张总</div>
        <div class="mrbl011">已入库</div>
      </div>
      <div class="mrbottom04list">
        <div class="mrbl01"><p><img src="public/images/0511/memberproimg.jpg" /></p></div>
        <div class="mrbl02">2020-09-28</div>
        <div class="mrbl03">DJ909090909</div>
        <div class="mrbl04">深圳市坂田区布龙大道119号</div>
        <div class="mrbl05">1</div>
        <div class="mrbl06">10公斤</div>
        <div class="mrbl07">10公斤</div>
        <div class="mrbl08">5899</div>
        <div class="mrbl09">GX00000001</div>
        <div class="mrbl010">张总</div>
        <div class="mrbl011">已入库</div>
      </div>
      <div class="mrbottom04list">
        <div class="mrbl01"><p><img src="public/images/0511/memberproimg.jpg" /></p></div>
        <div class="mrbl02">2020-09-28</div>
        <div class="mrbl03">DJ909090909</div>
        <div class="mrbl04">深圳市坂田区布龙大道119号</div>
        <div class="mrbl05">1</div>
        <div class="mrbl06">10公斤</div>
        <div class="mrbl07">10公斤</div>
        <div class="mrbl08">5899</div>
        <div class="mrbl09">GX00000001</div>
        <div class="mrbl010">张总</div>
        <div class="mrbl011">已入库</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>



{#<div id="account-account" class="container">#}
{#  {{ include(helper.template('_partial/breadcrumb')) }}#}
{#  {% if success %}#}
{#  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>#}
{#  {% endif %}#}
{#  <div class="row">{{ column_left }}#}
{#    {% if column_left and column_right %}#}
{#    {% set class = 'col-sm-6' %}#}
{#    {% elseif column_left or column_right %}#}
{#    {% set class = 'col-sm-9' %}#}
{#    {% else %}#}
{#    {% set class = 'col-sm-12' %}#}
{#    {% endif %}#}
{#    <div id="content" class="{{ class }}">{{ content_top }}#}
{#      <div class="account-list">#}
{#        <h3><i class="iconfont">&#xe663;</i>{{ text_my_account }}</h3>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ edit }}">{{ text_edit }}</a></li>#}
{#          <li><a href="{{ password }}">{{ text_password }}</a></li>#}
{#          <li><a href="{{ address }}">{{ text_address }}</a></li>#}
{#          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
{#        </ul>#}
{#        {% if credit_cards %}#}
{#        <h3>{{ text_credit_card }}</h3>#}
{#        <ul class="list-unstyled">#}
{#          {% for credit_card in credit_cards %}#}
{#          <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#        {% endif %}#}
{#        <h3><i class="iconfont">&#xe634;</i>{{ text_my_orders }}</h3>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ order }}">{{ text_order }}</a></li>#}
{#          <li><a href="{{ download }}">{{ text_download }}</a></li>#}
{#          {% if reward %}#}
{#          <li><a href="{{ reward }}">{{ text_reward }}</a></li>#}
{#          {% endif %}#}
{#          <li><a href="{{ return }}">{{ text_return }}</a></li>#}
{#          <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>#}
{#        </ul>#}
{#        <h3><i class="iconfont">&#xe61e;</i>{{ text_my_affiliate }}</h3>#}
{#        <ul class="list-unstyled">#}
{#          {% if not tracking %}#}
{#          <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>#}
{#          {% else %}#}
{#          <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>#}
{#          <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>#}
{#          {% endif %}#}
{#        </ul>#}
{#        <h3><i class="iconfont">&#xe6ac;</i>{{ text_my_newsletter }}</h3>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      {{ content_bottom }}</div>#}
{#    {{ column_right }}</div>#}
{#</div>#}

